* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";
}
.contenedor {
    padding: 60 px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #e6dada; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        hsla(192, 28%, 21%, 0.397),
        hsla(0, 18%, 88%, 0.404)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            hsla(192, 28%, 21%, 0.404),
            hsla(0, 18%, 88%, 0.411)
        ),
        url(/images/2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: black;
    font-weight: 700;
    text-decoration: brown;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .textos-header h1 {
    font-size: 70px;
    color: brown;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Nosotros */

.tarjetas {
    display: flex;
    justify-content: space-evenly;
}

.tarjetas .tarjeta {
    background: rgba(128, 128, 128, 0.527);
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    border-radius: 5px;
}

.texto-nosotros {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-tarjeta {
    font-weight: 300;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/* Footer */
footer {
    background-color: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.contenedor-foot h4 {
    text-align: center;
    color: white;
    border-bottom: 3px solid rgb(22, 2, 2);
    padding-bottom: 5px;
    margin-bottom: 10 px;
}
.contenedor-foot p {
    text-align: center;
    color: gray;
    border-bottom: 3px solid rgba(104, 104, 10, 0.322);
    padding-bottom: 5px;
    margin-bottom: 10 px;
}
.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: rgb(182, 179, 179);
}
